<h1 id="page-header" >Technician Schedule</h1>
<section class="calendar">
  <%# create header and sideline boxes %>
  <% for i in 1..5 do %>
    <div class="calendar-box header-box" style="grid-column-start: <%= i%>; grid-row-start: 1"></div>
  <% end %>
  <% for i in 2..11 do %>
    <div class="calendar-box time-box" style="grid-column-start: 1; grid-row-start: <%= i%>
"></div>
  <% end %>
  <%# create remaining grid boxes %>
  <% for i in 2..5 do %>
    <% for j in 2..11 do %>
      <div class="calendar-box schedule-box"
           style="grid-column-start: <%= i %>; grid-row-start: <%= j %>"
           data-technician="<%= Technician.find(i - 1).name%>"
           data-hour="<%= j + 4%>
"></div>
    <% end %>
  <% end %>
  <p id="time">
    <b>Time</b>
  </p>
  <%# technician names and container columns %>
  <% @technicians.each do |technician| %>
    <p class="technician" style="grid-column-start: <%= technician.id + 1%>">
      <%= technician.name %>
    </p>
    <%= render 'work_orders/technician_column', technician: technician %>
  <% end %>
  <%# Time column %>
  <% for i in 6..15 do %>
    <p class="hour" style="grid-row-start: <%= i - 4%>">
      <%= "#{i}:00-#{i+1}:00"%>
    </p>
  <% end %>
</section>
