<% if start_min > 0 %>
  <% if last_order_end_time == 0 %>
    <div class='empty-time-box'
      style="height: <%= 1.02 * (start_min)%>px"
      data-minutes=<%= start_min%>>
    </div>
  <% else %>
    <div class='empty-time-box'
      style="height: <%= 1.025 * (start_min - last_order_end_time)%>px"
      data-minutes=<%= start_min - last_order_end_time%>>
    </div>
  <% end %>
<% end %>
<%# check for overlap edge case %>
<% margin_top_offset = 0, z_index = 1%>
<% if last_order_end_time > start_min %>
  <% margin_top_offset = start_min - last_order_end_time%>
  <% z_index = 20 %>
<% end %>
<div class="work-order"
     style="height: <%= work_order.duration - 10%>px;
            margin-top: <%= margin_top_offset %>px;
            z-index: <%= z_index %>"
     >
  <b><%= work_order.location.name %></b>
  <br>
  <%= work_order.location.city %> at <%= work_order.time.split[1] %>
  <br>
  <%= work_order.duration %> minutes
  $<%= work_order.price %>
</div>
