<div class="work-order"
     style="grid-column-start: <%= work_order.technician.id + 1%>;
            grid-row-start: <%= work_order.time.split[1].split(":")[0].to_i - 4 %>;
            margin-top: <%= work_order.time.split[1].split(":")[1].to_i + 2%>px;
            height: <%= work_order.duration - 14%>px
">
  <b><%= work_order.location.name %></b>
  <br>
  <%= work_order.location.city %> at <%= work_order.time.split[1] %>
  <br>
  <%= work_order.duration %> minutes
  $<%= work_order.price %>
</div>
